* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}
:root{

  --Dark-Blue: hsl(209, 23%, 22%); /*Dark Mode Elements*/
  --Very-Dark-Blue: hsl(207, 26%, 17%); /*Dark Mode Background*/
  --Very-Dark-Blue: hsl(200, 15%, 8%); /*Light Mode Text*/
  --Dark-Gray: hsl(0, 0%, 52%); /*Light Mode Input*/
  --Very-LightGray: hsl(0, 0%, 98%); /*Light Mode Background*/
  --White: hsl(0, 0%, 100%); /*Dark Mode Text & Light Mode Elements*/

  --Homepage-Items: 14px;
  --Detail-Page: 16px ;
}
svg,img,picture{
  display: block;
  max-width: 100%;
}
.App{
  background-color: var(--Very-LightGray);
}
.header{
  background-color: var(--White);
}
.header .title{
  color: var(--Very-Dark-Blue);
}
.header div .icon{
  color: var(--Very-Dark-Blue);
  
}
.header div .icon-title{
  color: var(--Very-Dark-Blue);
}
form{
  max-width: 30rem;
  background-color: var(--White);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
form div .icon{
  color: var(--Dark-Gray);
}
form div input::placeholder{
  font-size: var(--Homepage-Items);
  outline: none;
  font-weight: 600;
}
form div input:focus{
  outline: none;
}
.container{
  min-height: calc(100vh - 96px);
}
.select-menu .select-btn,
.select-menu .options{
  background-color: var(--White);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.select-menu .select-btn,
.select-menu .options li{
  color: var(--Dark-Blue);
}
.select-menu .select-btn .icon{
  color: var(--Dark-Blue);
}
.country{
  background-color: var(--White);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.country .country-name{
  color: var(--Dark-Blue);
}
.country ul li{
  color: var(--Dark-Blue);
}
.country ul li span{
  color: var(--Dark-Gray);
}
.btn-back{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: var(--Dark-Blue);
}
.country-detail h3,
.country-detail div ul li{
  color: var(--Very-Dark-Blue);
}
.country-detail div ul li span{
  font-weight: 600;
}
.country-detail div ul li{
  font-weight: bold;
}
.detail li span{
  color: var(--Dark-Gray);
}
.border-countries p{
  color: var(--Very-Dark-Blue);
}
@media screen and (min-width:1024px){
  .country-container img{
    width: 400px;
    height: 300px;

  }
}
@media screen and (min-width:1280px){
  .country-container img{
    width: 550px;
    height: 400px;
  }
}
/* @media screen and (min-width:1300px){
  .container{
    max-width: 80rem;
  }
} */